/* put specific overrides to CSS for your workshop in this file */

a {
  text-decoration: underline !important;
  font-size: 30px !important;
}

.lower {
  width: 50%;
  float: left;
  display: block;
}
